<form [formGroup]="addTodo" (ngSubmit)="onSubmit()">
  <div class="form-group text-center">
    <label for="title">
      <h5>Title</h5>
    </label>
    <input type="text" id="title" formControlName="title" class="form-control">
    <small *ngIf="addTodo.get('title').touched && !addTodo.get('title').value" class="help-block text-danger">
      Please enter a ToDo
    </small>
  </div>
  <h5 class="text-center">Priority</h5>
  <div class="text-center">
    <div class="radio" *ngFor="let priority of priorities">
      <label [for]="priority" class="mr-4">
        <input type="radio" class="radio" formControlName="priorities" [value]="priority">{{priority}}
      </label>
    </div>
  </div>

  <small class="help-block">
    <!-- show this error here: Please select a priority! -->
  </small>
  <div class="text-center">
    <button class="btn btn-primary add-button" type="submit"
      [disabled]="!addTodo.get('title').value || !addTodo.get('priorities').value">ADD</button>
  </div>
</form>